.donate-background{
    text-align: center;
    background-color: #060f1e;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color : #ffffff;
}

.donate{
    text-align: center;
    background-color: #060f1e;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-intro{
    width: 65%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    color: #ffffff;
}

.donate-vertLine{
    height: 100%;
    width: 1px;
    background-color:#ffffff;
}

.donate-box{
    height: 100%;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    color: #ffffff;
}

.donate-storeBox{
    text-align: left;
    font-size: 15px;
    color: #ffffff;
}

.donate-getBox{
    text-align: left;
    font-size: 15px;
    color: #ffffff;
}