.header-comp {
  display: grid;
  grid-template-columns: 50% 50%;
}

.theme {
  background-color: #060f1e;
  color: #fff;
  min-height: 100vh;
  padding: 40px;
}

button {
  border-radius: 10px;
  padding-block: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.fund-me{
  text-align: left;
  font-size: 20px;
}

.start-fund-button{
  background-color: #060f1e;
  border-color: #fff;
  padding-inline: 25px;
  color: #fff;
  border-radius: 10px;
}

h1{
  font-size: 36px;
}

.start-fund{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort-button {
  margin-bottom: 10px;
  margin-right: 10px;
}